---
layout: page
title: "Recent Articles"
description: "recent articles"
---
{% include JB/setup %}

<div class="posts">
    <div class="content full-bleed" id="recent-posts">
        {% for post in site.posts limit:25 %}<a
            href="{{ post.url }}" class="post-excerpt">
        <div class="padded-content">
            <div class="title">
                <span style="font-size:18px;color:red">{{ post.date | date:"%Y-%m-%d" }}</span>
                <span style="font-size:18px">&nbsp;&nbsp;&raquo;&nbsp;&nbsp;
                {{ post.title }}
                {%  if post.description %}</span>
                <span class="body">
                    <span style="font-size:18px">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    {{ " **** " }} {{ post.description | strip_html }}</span>
                {% else %}
                <span class="body">{{ post.excerpt | strip_html }}</span>
                {% endif %}
            </div>
        </div>
    </a>{% endfor %}
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="end">
            <a href="/archive.html">More...</a>
        </div>
    </div>
</div>

