

// 标题，修改成你期望的字体族
$font-family-headings = 'Gafata-Regular'

// 修改成你期望的字体族
$font-family-base = 'Gafata-Regular', Arial, sans

// 代码字体
$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace
